body.index{
    background-color: #ebebeb;
    width: 100vw;
}




/*HEADER*/

.index header{
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;

}

.index__header__search form{
    display: flex;
}

.index__header__search{
    width: 50px;
}

.index__header__logo{
    width: 150px;
    
}
.index__header__p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.index__header__menu{
    margin-bottom: 10px;
}

.index__header__menu ul{
    padding: 0;
}

.index__header__ul--shop{
    margin-bottom: 20px;
}


.index__header__search form input{
    border: 1px solid var(--grisOscuro);
}

.burger-menu{
    width: 30px;
    height: 30px;
    background-color: var(--azul);
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.burger-menu i{
    margin-top: 7px;
    color: white;
    
}

/*HIDE HEADER EN MOBILE*/
.index__header__ul--shop, .index__header__ul--user{
    display: none;
}



/*MAIN*/

.index__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /*witdh del main del 90%*/
}

.main__section--ofertas article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-bottom: 10px; /*separacion de 10px*/
    width: 300px;
    border-radius: 5px;
}
.index h3{
    margin-bottom: 30px;
    margin-top: 30px;
}

.index h4{
    margin-top: 30px;
    font-weight: 300;
    display: none;
}
.main__section--ofertas-containerInfo{
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 15px;
    
}

.main__section--ofertas article i{
    display: inline-block;
    padding: 7px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
}

.index__main__section__article--descuento{
    color: green;
    text-transform: uppercase;
}


/* .main__section--ofertas article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 5px;
} */

.index__main img{
    width: 200px;
}





/*FOOTER*/
.index__footer{
    background-color: white;
    padding: 10px;
    margin: 10px;
    
}

.index__footer__icon{
    font-size: 2em;
    color: var(--azul);
    text-align: center;
}

.index__footer h4, .index__footer p{
    color: var(--grisOscuro);
    text-align: center;
}

.index__footer__section__article{
    margin-bottom: 10px;
}

.index__footer h6{
    color: var(--grisOscuro);
}

@media (min-width: 768px){
    .main__section--ofertas article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .index h4{
        display: block;
    }
    /*SHOW HEADER EN TABLET Y DESKTOP*/
.index__header__ul--shop, .index__header__ul--user{
    display: block;
}
}